.app-header {
    &__logo {
        padding-inline-start: 1.2rem;
        padding-inline-end: 2rem;
        height: 32px;
        display: flex;
        align-items: center;
        gap: 1rem;

        @media (width >= 768px) {
            border-inline-end: 1px solid var(--general-section-1);
        }
    }

    &__logo-image {
        height: 28px;
        width: auto;
        display: block;
    }

    &__powered {
        font-size: 1.2rem;
        opacity: 0.8;
        white-space: nowrap;

        @media (width < 768px) {
            display: none;
        }
    }

    &__powered-deriv {
        font-weight: 600;
    }
}
